/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  background-color: var(--p-surface-50);
  color: var(--p-text-color);
}
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: black;
}