

@layer tailwind-base, primeng, tailwind-components, tailwind-utilities;

@layer primeng {

    /* colors and spaces */
    :root {
        /* Primary */
        --p-primary-50: #FFF1F4;
        --p-primary-100: #FFD6E0;
        --p-primary-200: #FFB3C6;
        --p-primary-300: #FF8FAE;
        --p-primary-400: #FF6B96;
        --p-primary-500: #FF3F72;
        --p-primary-600: #E63666;
        --p-primary-700: #CC043D;
        --p-primary-800: #A80033;
        --p-primary-900: #7A0026;

        --p-primary-color-hover: #CC043D;
        --p-primary-color-active: #F5E100;
        --p-primary-color-text: #FBFBFB;

        --p-primary-color: var(--p-primary-500);

 


        

    }



}


*, *::before, *::after {
  box-sizing: border-box;
}



html,
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Arial, sans-serif;
    margin: 0;
}

/* ===== PrimeNG p-password – רוחב מלא אמית ===== */

.auth-form .p-password,
.auth-form .p-password .p-inputwrapper {
  width: 100%;
  box-sizing: border-box;
}

/* wrapper אחראי למסגרת */
.auth-form .p-password {
  height: 44px;
  display: flex;
  align-items: center;

  background: var(--p-inputtext-bg);
  border: 1px solid var(--p-inputtext-border-color);
  border-radius: 8px;
}

/* input פנימי */
.auth-form .p-password .p-inputtext {
  flex: 1;
  height: 100%;
  width: 100%;

  border: none;
  box-shadow: none;
  background: transparent;
  padding: 0 12px;
}

/* אייקון */
.auth-form .p-password .p-password-toggle-icon {
  width: 44px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  color: var(--p-text-secondary-color);
}

/* focus */
.auth-form .p-password.p-focus {
  border-color: var(--p-primary-color);
  box-shadow: 0 0 0 0.2rem var(--p-focus-ring-color);
}


