.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #eee;
  border-top: 6px solid #FF3F72;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 40px auto;
}

p{
    color: #FF3F72;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
