.kpi-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.kpi {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 14px;
    padding: 14px;
    border-radius: 12px;
    background: var(--p-surface-50);
}

.kpi i {
    font-size: 1.6rem;
}

.kpi span {
    font-size: 0.8rem;
    color: var(--p-text-secondary-color);
}

.kpi strong {
    font-size: 1.2rem;
}

.kpi-primary {
    color: var(--p-primary-color);
}

.kpi-success {
    color: var(--p-success-color);
}

.kpi-info {
    color: var(--p-info-color);
}

.card {
    background: var(--p-surface-0);
    border-radius: 14px;
    padding: 20px 24px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
    width: 100%;
    height: 280px;
}

.text{
    text-align: center;
}

.card-title {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 16px;
}