// .my-outlet{
//     border: 1px solid gray;
//     height: 90vh;
//     width: 90%;
//     // margin-top:5vh;
//     margin-right: 5%;
// }

// .my-nav{
//     height: 5vh;

//     a{
//         margin-left: 10px;
//         color: black;
//     }
// }