<p-menubar class="main-nav">
  <!-- צד שמאל: לוגו -->
  <ng-template pTemplate="start">
    <img src="assets/logo.png" alt="logo" height="40" />
  </ng-template>

  <!-- תפריט מרכזי -->
  <ng-template pTemplate="menu">
    <a pButton label="Home" routerLink="/" class="p-button-text"></a>
    <a pButton label="Gifts" routerLink="/gifts" class="p-button-text"></a>
  </ng-template>

  <!-- צד ימין: אייקונים -->
  <ng-template pTemplate="end">
    <!-- עגלה -->
    <button
      pButton
      icon="pi pi-shopping-cart"
      class="p-button-rounded p-button-text"
      routerLink="/cart">
    </button>

    <!-- משתמש -->
    <button
      pButton
      icon="pi pi-user"
      class="p-button-rounded p-button-text"
      (click)="userMenu.toggle($event)">
    </button>

    <!-- תפריט נפתח -->
    <p-menu #userMenu [popup]="true" [model]="userMenuItems"></p-menu>
  </ng-template>
</p-menubar>
